<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style/style.css">
    <title>DIYchan1</title>
</head>
<body>
    <!-- Header Container -->
    <div class="d-flex flex-wrap p-2 bg-secondary align-items-center justify-content-center justify-content-lg-start">
        </a> -->
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="display-4 text-light">DIYchan</span>
          </a>
        <form class="justify-content-endcol-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-light m-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>


     <!--Post Forms-->
    <setion id="postform">
        <div class="container-lg">
            <div class="text-center m-4">
                <h2 class="display-4">Post your DIYproject!</h2>
            </div>
            <div class="row justify-content-center my-5">
                <div class="col-lg-6">
                    <form action="" method="post">

                        <!--UserName Entry-->
                        <label for="email" class="form-label">Posting as:</label>
                        <div class="mb-4 input-group">
                            <span class="input-group-text">
                                <i class="bi bi-person-fill"></i>
                            </span>
                        <input type="email" class="form-control" id="email" method placeholder="Start your post">
                        </div>

                        <!-- Post Title -->
                        <label for="name" class="form-label">Post Title</label>
                        <input type="text" class="form-control" id="name", placeholder="Post Title">
                        <!--Image Uploader-->
                        <input type="file" name="file">
                        <!-- Post Text Entry  -->
                        <div class="form-floating">
                            <textarea name="" id="post-text" class="form-control" style="height: 140px"></textarea>
                            <label for="post-text" >Your post content!!!</label>
                        </div>
                        <!--Post Submit Button-->
                        <div class="mb-4 text-center">
                            <button type="submit" class="btn btn-secondary mt-2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </setion>



<!-- Message Board -->
<section class="container">
    <div class="row">
        <ol>
            <li class="row">
                <a href="/item">
                    <h4 class="title">
                        Thread 1
                    </h4>
                    <div class="bottom">
                        <p class="timestamp">
                            10/03/2021
                        </p>
                        <p class="comment-count">
                            4 comments
                        </p>
                    </div>
                </a>
            </li>
            <li class="row">
                <a href="/item">
                    <h4 class="title">
                        Thread 2
                    </h4>
                    <div class="bottom">
                        <p class="timestamp">
                            10/03/2021
                        </p>
                        <p class="comment-count">
                            4 comments
                        </p>
                    </div>
                </a>
            </li>
        </ol>
    </div>
</section>


   <!--Advertisment--> 
    <div>Advertisment</div>


            <!-- subchans container  -->


<!-- <section id="reviews" class="bg-light">
    <div class="container-lg">
        <div class="text-center">
            <h2>Subchans</h2>
            <p class="lead">find a community that fits your interests!</p>
        </div>       
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="list-group">
                    <div class="list-group-item py-3">
                        <h5 class="mb-1">A must buy for everyone everywhere</h5>
                        <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, laudantium!</p>
                        <small>by BUDDY</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->







        <!-- Popular Pages Container  -->
        <div>popular chans</div>
    </div>
    <!-- <div class="col">
    <img class="img-fluid" src="./assets/img/dclogo-grey-v2.png" alt=""> -->

    </div>
    </div>
        <!-- footer -->
        <footer class="container">
            <div class="row">
                <div class="col">

                </div>
            </div>
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>